html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================================================================================================*/
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
header {
    background-color: #83C8E4;
    margin: 0em;
    border: 0em;
    padding: 0em;
    height: 5em;
    display: flex;
    flex-direction: row;
}
.smalltext{
    font-family: 'Open Sans', sans-serif;
}
#divtitle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
#divbutton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
#title {
    color: white;
    font-size: 1.5em;
    align-self: flex-start;
    padding: 15px 32px;
    margin: .5em;
}
#signin {
    background-color: #83C8E4; 
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2em;
}
#signin:hover{
    background-color: white; 
    border: 1px solid white;
    color: #83C8E4;    
}
#intro{
    display: flex;
    flex-direction: row;
    height: 35em;
}
#divimg{
    padding: 2%;
    display: flex;
    justify-content: center;
    width: 50%;
}
img{
    height: 100%;
}
#container1{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5%;

}
#slogan{
    height: 30em;
   
    margin: 1em;
}
h1{
    font-family: 'Italianno', cursive;
    font: bold;
    font-size: 5em;
    width: 100%;
}
#divtext1{
    
    margin: 2em 1em;
}
#divbutton2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em 0;
}
#memberbutton{
    background-color: #83C8E4;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
}
#memberbutton:hover{
    background-color: white;
    border: 1px solid #83C8E4;
    color: #83C8E4;    
}
#morebutton{
    background-color: white; 
    border: 1px solid #83C8E4;
    color: #83C8E4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
}
#morebutton:hover{
    background-color: #83C8E4;
    border: 1px solid white;
    color: white;
}
.headercontainer{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 2em;
  }
  .textcontainer{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin: 2em;
  }
  .specialtextcontainer{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin: 10em 0 2em 0;
  }
  .bodyicon{
    font-size: 4em;
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
  }
  #benefits{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
  }
  hr{
    width: 80%;
  }
  #mentor{
    height: 10em;
    border-radius:50%;
    margin: 1em;
  }
  #student{
    height: 10em;
    border-radius:50%;
    margin: 1em;
  }
  #goals{
    height: 10em;
    border-radius:50%;
    margin: 1em;
  }
  .howimg{
    display: flex;
    justify-content: space-evenly;
  }
  h3{
    text-align: center;
    font-family: 'Open Sans Bold', sans-serif;
  }
  footer{
    background-color: #83C8E4;
    height: 5em;
  }